body{
    font-family: Arial, sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    margin-bottom: 10px
}
article{
    overflow: hidden;
    padding: 4vw;
    background-color: #eee;
}
p{
    width: 70%;
    float: left;
    margin-bottom: 1rem;
}
.img-block{
    float: right;
    width: 30%;
    padding-left: 10px;
}
figure{  
    display: inline-block;
    vertical-align: text-top;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 1vh;
    overflow: hidden;
    background-color: #646;
    color: white;
    text-align: right;
}
figure:last-child{
    margin-right: 0;
}
figurecaption{
    display: block;
    padding: 0 10px;
}
img{
    width: 100%;
    margin-bottom: 5px;
}
@media screen and (max-width:800px){
    p{
        width: 100%;
        float: none;
    }
    .img-block{
        float: none;
        width: 100%;
        padding: 0;
    }
    figure{
        width: 48%;
        margin-right: 3%;
    }
}
@media screen and (max-width:600px){
    figure{
        width: 100%;
        margin-right: 0;
    }
}